@import url(https://fonts.googleapis.com/css?family=Great+Vibes:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,600,700,800,900,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Great Vibes', handwriting;
  font-size: 6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Great Vibes', handwriting;
  font-size: 4rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 6.4rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #d9c0f2 !important;
}
.bg-info {
  background-color: #ac71f1 !important;
}
.bg-warning {
  background-color: #55b4d4 !important;
}
.bg-danger {
  background-color: #f9f295 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffeded !important;
  border-color: #ffeded !important;
  color: #ed0000 !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ed0000 !important;
  background-color: #ffa1a1 !important;
  border-color: #ffa1a1 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ed0000 !important;
  background-color: #ffa1a1 !important;
  border-color: #ffa1a1 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ac71f1 !important;
  border-color: #ac71f1 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #832bea !important;
  border-color: #832bea !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #832bea !important;
  border-color: #832bea !important;
}
.btn-success,
.btn-success:active {
  background-color: #d9c0f2 !important;
  border-color: #d9c0f2 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b381e5 !important;
  border-color: #b381e5 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #b381e5 !important;
  border-color: #b381e5 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f9f295 !important;
  border-color: #f9f295 !important;
  color: #877e08 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #877e08 !important;
  background-color: #f5e94d !important;
  border-color: #f5e94d !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #877e08 !important;
  background-color: #f5e94d !important;
  border-color: #f5e94d !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #ff8787;
  color: #ff8787;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ed0000;
  background-color: #ffeded;
  border-color: #ffeded;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ed0000 !important;
  background-color: #ffeded !important;
  border-color: #ffeded !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #7617e5;
  color: #7617e5;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #ac71f1;
  border-color: #ac71f1;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ac71f1 !important;
  border-color: #ac71f1 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #a66be1;
  color: #a66be1;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #d9c0f2;
  border-color: #d9c0f2;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #d9c0f2 !important;
  border-color: #d9c0f2 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #277e9c;
  color: #277e9c;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #55b4d4;
  border-color: #55b4d4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #f4e634;
  color: #f4e634;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #877e08;
  background-color: #f9f295;
  border-color: #f9f295;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #877e08 !important;
  background-color: #f9f295 !important;
  border-color: #f9f295 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ffeded !important;
}
.text-success {
  color: #d9c0f2 !important;
}
.text-info {
  color: #ac71f1 !important;
}
.text-warning {
  color: #55b4d4 !important;
}
.text-danger {
  color: #f9f295 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ff8787 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #a66be1 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #7617e5 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #277e9c !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #f4e634 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ac71f1;
}
.alert-warning {
  background-color: #55b4d4;
}
.alert-danger {
  background-color: #f9f295;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #f8fcfd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffeded !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-tkJycAanhL .navbar {
  padding: .5rem 0;
  background: #d9c0f2;
  transition: none;
  min-height: 77px;
}
.cid-tkJycAanhL .navbar-dropdown.bg-color.transparent.opened {
  background: #d9c0f2;
}
.cid-tkJycAanhL a {
  font-style: normal;
}
.cid-tkJycAanhL .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-tkJycAanhL .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tkJycAanhL .nav-item:focus,
.cid-tkJycAanhL .nav-link:focus {
  outline: none;
}
.cid-tkJycAanhL .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-tkJycAanhL .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-tkJycAanhL .menu-logo {
  margin-right: auto;
}
.cid-tkJycAanhL .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-tkJycAanhL .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-tkJycAanhL .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-tkJycAanhL .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-tkJycAanhL .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-tkJycAanhL .dropdown .dropdown-menu {
  background: #d9c0f2;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-tkJycAanhL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-tkJycAanhL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tkJycAanhL .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-tkJycAanhL .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-tkJycAanhL .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-tkJycAanhL .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-tkJycAanhL button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-tkJycAanhL button.navbar-toggler:focus {
  outline: none;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-tkJycAanhL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tkJycAanhL nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-tkJycAanhL nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-tkJycAanhL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tkJycAanhL .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-tkJycAanhL .collapsed .btn {
  display: -webkit-flex;
}
.cid-tkJycAanhL .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing,
.cid-tkJycAanhL .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-tkJycAanhL .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-tkJycAanhL .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-tkJycAanhL .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-tkJycAanhL .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-tkJycAanhL .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-tkJycAanhL .collapsed button.navbar-toggler {
  display: block;
}
.cid-tkJycAanhL .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-tkJycAanhL .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-tkJycAanhL .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity, padding, height;
}
.cid-tkJycAanhL .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-tkJycAanhL .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-tkJycAanhL .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-tkJycAanhL .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-tkJycAanhL img {
    height: 3.8rem !important;
  }
  .cid-tkJycAanhL .btn {
    display: -webkit-flex;
  }
  .cid-tkJycAanhL button.navbar-toggler {
    display: block;
  }
  .cid-tkJycAanhL .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-tkJycAanhL .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-tkJycAanhL .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing,
  .cid-tkJycAanhL .navbar-collapse.show {
    display: block !important;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing .navbar-nav,
  .cid-tkJycAanhL .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-tkJycAanhL .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing .navbar-buttons,
  .cid-tkJycAanhL .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-tkJycAanhL .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-tkJycAanhL .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity, padding, height;
  }
  .cid-tkJycAanhL .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-tkJycAanhL .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-tkJycAanhL .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-tkJycAanhL .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-tkJycAanhL .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-tkJycAanhL .nav-link:hover,
.cid-tkJycAanhL .dropdown-item:hover {
  color: #ffeded !important;
}
.cid-tnKRtnmEa7 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/carnation-gbdd23c705-1920.jpg");
}
.cid-tnKQ0nIRtI {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #ffffff;
}
.cid-tnKQ0nIRtI .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-tnKQ0nIRtI .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-tnKQ0nIRtI .media-container-row .img-item .img-cont {
  position: relative;
  overflow: hidden;
}
.cid-tnKQ0nIRtI .media-container-row .img-item .img-cont img {
  width: 100%;
}
.cid-tnKQ0nIRtI .media-container-row .img-item .img-cont .img-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-tnKQ0nIRtI .media-container-row .img-item .img-cont .img-caption p {
  margin-bottom: 0;
}
.cid-tnKQ0nIRtI .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-tnKQ0nIRtI .img-item {
    width: 100% !important;
  }
  .cid-tnKQ0nIRtI .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-tnKQYL4dld {
  padding-top: 60px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/carnation-gbdd23c705-1920.jpg");
}
.cid-tnKPWvnT9O {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tnKPWvnT9O .mbr-section-subtitle {
  color: #232323;
}
.cid-tnKPWvnT9O .mbr-text {
  color: #232323;
}
.cid-tkJyoCfIWY {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-tkJxFdim45 {
  background-image: url("../../../assets/images/dsb02656.jpeg");
}
.cid-tkJxFdim45 H1 {
  text-align: center;
  color: #ffffff;
}
.cid-tkJxFdim45 .mbr-text,
.cid-tkJxFdim45 .mbr-section-btn {
  text-align: center;
}
.cid-tkJxNTx4kQ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tkJxNTx4kQ .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-tkJxNTx4kQ .number-wrap {
  color: #55b4d4;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-tkJxNTx4kQ .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #232323;
}
.cid-tkJxNTx4kQ .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-tkJxNTx4kQ .dot {
  position: absolute;
  top: -10px;
  right: -1em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #232323;
}
.cid-tkJxNTx4kQ .countdown-cont {
  max-width: 700px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-tkJxNTx4kQ .dot {
    display: none;
  }
}
@media (max-width: 543px) {
  .cid-tkJxNTx4kQ .number-wrap {
    margin-bottom: 15px;
  }
}
@media (max-width: 550px) {
  .cid-tkJxNTx4kQ .col-xs-3 {
    padding-left: 0;
    padding-right: 0;
    max-width: 25%;
    flex: 0 0 25%;
  }
  .cid-tkJxNTx4kQ .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-tkJxNTx4kQ .number,
  .cid-tkJxNTx4kQ .dot {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-tkJxNTx4kQ .period {
    font-size: 0.8rem;
  }
}
.cid-tkJycAanhL .navbar {
  padding: .5rem 0;
  background: #d9c0f2;
  transition: none;
  min-height: 77px;
}
.cid-tkJycAanhL .navbar-dropdown.bg-color.transparent.opened {
  background: #d9c0f2;
}
.cid-tkJycAanhL a {
  font-style: normal;
}
.cid-tkJycAanhL .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-tkJycAanhL .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-tkJycAanhL .nav-item:focus,
.cid-tkJycAanhL .nav-link:focus {
  outline: none;
}
.cid-tkJycAanhL .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-tkJycAanhL .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-tkJycAanhL .menu-logo {
  margin-right: auto;
}
.cid-tkJycAanhL .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-tkJycAanhL .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-tkJycAanhL .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-tkJycAanhL .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-tkJycAanhL .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-tkJycAanhL .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-tkJycAanhL .dropdown .dropdown-menu {
  background: #d9c0f2;
  visibility: hidden;
  display: block;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-tkJycAanhL .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-tkJycAanhL .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tkJycAanhL .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-tkJycAanhL .dropdown.open > .dropdown-menu {
  visibility: visible;
}
.cid-tkJycAanhL .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-tkJycAanhL .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-tkJycAanhL .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-tkJycAanhL button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-tkJycAanhL button.navbar-toggler:focus {
  outline: none;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-tkJycAanhL button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-tkJycAanhL nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tkJycAanhL nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-tkJycAanhL nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-tkJycAanhL nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-tkJycAanhL .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-tkJycAanhL .collapsed .btn {
  display: -webkit-flex;
}
.cid-tkJycAanhL .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing,
.cid-tkJycAanhL .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-tkJycAanhL .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-tkJycAanhL .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-tkJycAanhL .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-tkJycAanhL .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-tkJycAanhL .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-tkJycAanhL .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-tkJycAanhL .collapsed button.navbar-toggler {
  display: block;
}
.cid-tkJycAanhL .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-tkJycAanhL .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-tkJycAanhL .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity, padding, height;
}
.cid-tkJycAanhL .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-tkJycAanhL .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-tkJycAanhL .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-tkJycAanhL .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-tkJycAanhL img {
    height: 3.8rem !important;
  }
  .cid-tkJycAanhL .btn {
    display: -webkit-flex;
  }
  .cid-tkJycAanhL button.navbar-toggler {
    display: block;
  }
  .cid-tkJycAanhL .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-tkJycAanhL .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-tkJycAanhL .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing,
  .cid-tkJycAanhL .navbar-collapse.show {
    display: block !important;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing .navbar-nav,
  .cid-tkJycAanhL .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-tkJycAanhL .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing .navbar-buttons,
  .cid-tkJycAanhL .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-tkJycAanhL .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-tkJycAanhL .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-tkJycAanhL .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity, padding, height;
  }
  .cid-tkJycAanhL .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-tkJycAanhL .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-tkJycAanhL .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-tkJycAanhL .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-tkJycAanhL .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-tkJycAanhL .nav-link:hover,
.cid-tkJycAanhL .dropdown-item:hover {
  color: #ffeded !important;
}
.cid-tnzki6LiXW {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tnzki6LiXW .mbr-section-subtitle {
  color: #767676;
}
.cid-tnzkvB7gtK {
  padding-top: 0px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tnzkvB7gtK .mbr-section-subtitle {
  color: #767676;
}
.cid-tnzkvB7gtK .media-row {
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-tnzkvB7gtK .team-item {
  transition: all .2s;
  margin-bottom: 2rem;
}
.cid-tnzkvB7gtK .team-item .item-image img {
  width: 100%;
}
.cid-tnzkvB7gtK .team-item .item-name p {
  margin-bottom: 0;
}
.cid-tnzkvB7gtK .team-item .item-role p {
  margin-bottom: 0;
}
.cid-tnzkvB7gtK .team-item .item-social {
  display: -webkit-flex;
  flex-wrap: wrap;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
}
.cid-tnzkvB7gtK .team-item .item-social .socicon {
  color: #232323;
  font-size: 17px;
}
.cid-tnzkvB7gtK .team-item .item-caption {
  background: #ffffff;
}
.cid-tnzkvB7gtK .item-role P {
  text-align: center;
}
.cid-tnzkvB7gtK .item-name P {
  text-align: center;
}
.cid-tkJz1itwd8 {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tkJz1itwd8 .mbr-section-subtitle {
  color: #767676;
}
.cid-tnz9ehouYw {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-tnz9ehouYw .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-tnz9ehouYw .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tnz9ehouYw .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tnz9ehouYw .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-tnz9ehouYw .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffeded;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-tnz9ehouYw .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-tnz9ehouYw .mbr-gallery-item > div:hover:before {
  opacity: 0.5 !important;
}
.cid-tnz9ehouYw .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-tnz9ehouYw .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #ffeded !important;
  opacity: 0.5;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-tkJy3RJNs9 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-tkJy3RJNs9 .line {
  background-color: #149dcc;
  color: #149dcc;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tkJy3RJNs9 .section-text {
  padding: 2rem 0;
}
.cid-tkJy3RJNs9 .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-tkJy3RJNs9 .inner-container {
    width: 100% !important;
  }
}
.cid-tkJy018oFZ {
  padding-top: 60px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/carnation-gbdd23c705-1920.jpg");
}
.cid-tkJz4I5veE {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tkJz4I5veE h2 {
  text-align: left;
}
.cid-tkJz4I5veE h4 {
  text-align: left;
  font-weight: 500;
}
.cid-tkJz4I5veE p {
  color: #767676;
  text-align: left;
}
.cid-tkJz4I5veE .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-tkJz4I5veE .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-tkJz4I5veE .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-tkJz4I5veE .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-tkJz4I5veE .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-tkJz4I5veE .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-tkJz4I5veE .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-tkJz4I5veE .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-tkJz4I5veE .card-img span {
    font-size: 40px !important;
  }
}
.cid-tkJz4I5veE .mbr-text {
  color: #767676;
}
.cid-tkJBHIqjAK {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-tkJBHIqjAK h2 {
  text-align: left;
}
.cid-tkJBHIqjAK h4 {
  text-align: left;
  font-weight: 500;
}
.cid-tkJBHIqjAK p {
  color: #767676;
  text-align: left;
}
.cid-tkJBHIqjAK .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-tkJBHIqjAK .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-tkJBHIqjAK .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-tkJBHIqjAK .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-tkJBHIqjAK .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-tkJBHIqjAK .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-tkJBHIqjAK .mbr-figure {
    padding-right: 4rem;
    padding-right: 0;
    padding-left: 4rem;
  }
  .cid-tkJBHIqjAK .media-container-row {
    -webkit-flex-direction: row-reverse;
  }
}
@media (max-width: 991px) {
  .cid-tkJBHIqjAK .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-top: 2rem;
  }
  .cid-tkJBHIqjAK .media-container-row {
    -webkit-flex-direction: column-reverse;
  }
}
@media (max-width: 300px) {
  .cid-tkJBHIqjAK .card-img span {
    font-size: 40px !important;
  }
}
.cid-tkJCA075Mi {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tkJCA075Mi .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-tkJCA075Mi .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #ffeded;
  margin-left: 2rem;
}
.cid-tkJCA075Mi .timeline-text-content p {
  margin-bottom: 0;
}
.cid-tkJCA075Mi .time-line-date-content {
  margin-right: 2rem;
}
.cid-tkJCA075Mi .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #ffeded;
  float: right;
}
.cid-tkJCA075Mi .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-tkJCA075Mi .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-tkJCA075Mi .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-tkJCA075Mi .mbr-timeline-date,
.cid-tkJCA075Mi .timeline-text-content {
  transition: all .4s;
}
.cid-tkJCA075Mi .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-tkJCA075Mi .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-tkJCA075Mi .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-tkJCA075Mi .reverse .time-line-date-content p {
  float: left;
}
.cid-tkJCA075Mi .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #ffeded;
  top: 20px;
  margin-left: -10px;
}
.cid-tkJCA075Mi .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ffeded;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-tkJCA075Mi .iconBackground {
    left: 0 !important;
  }
  .cid-tkJCA075Mi .separline:before {
    left: 0 !important;
  }
  .cid-tkJCA075Mi .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-tkJCA075Mi .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-tkJCA075Mi .time-line-date-content p {
    float: left !important;
  }
  .cid-tkJCA075Mi .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-tkJCA075Mi .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-tkJCA075Mi .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-tkJCA075Mi .mbr-timeline-title {
  text-align: right;
}
.cid-tkJD4XNjbN {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/carnation-gbdd23c705-1920.jpg");
}
.cid-tkJyauYeVA {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tkJyauYeVA .mbr-section-subtitle {
  color: #232323;
}
.cid-tkJyauYeVA .mbr-text {
  color: #232323;
}
.cid-tnKKJjMMir {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tnKKJjMMir .mbr-section-subtitle {
  color: #232323;
}
.cid-tnKKJjMMir .mbr-text {
  color: #232323;
}
.cid-tkJDDFVRiu {
  padding-top: 60px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/carnation-gbdd23c705-1920.jpg");
}
.cid-tsnspd1UWw {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tsnspd1UWw .mbr-section-subtitle {
  color: #232323;
}
.cid-tsnspd1UWw .mbr-text {
  color: #232323;
}
.cid-tkJDFPl91y {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-tkJDFPl91y .google-map {
  height: 25rem;
  position: relative;
}
.cid-tkJDFPl91y .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tkJDFPl91y .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tkJDFPl91y .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tkJDFPl91y .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tkJDYZpSEz {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/carnation-gbdd23c705-1920.jpg");
}
.cid-ttFDPiTeGZ {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ttFDPiTeGZ .mbr-section-subtitle {
  color: #232323;
}
.cid-ttFDPiTeGZ .mbr-text {
  color: #232323;
}
.cid-ttFDKkLHei {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #ffffff;
}
.cid-ttFDKkLHei .images-container.container-fluid {
  padding: 0;
}
.cid-ttFDKkLHei .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-ttFDKkLHei .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-ttFDKkLHei .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-ttFDKkLHei .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-ttFDKkLHei .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-ttFDKkLHei .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-ttFDKkLHei .img-item {
    width: 100% !important;
  }
  .cid-ttFDKkLHei .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-tEP7Pm7tCD {
  background: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-tEP7Pm7tCD .image-block {
  margin: auto;
}
.cid-tEP7Pm7tCD .mbr-figure {
  margin: 0 auto;
}
.cid-tEP7Pm7tCD figcaption {
  position: relative;
}
.cid-tEP7Pm7tCD figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tEP7Pm7tCD .image-block {
    width: 100% !important;
  }
}
.cid-tkJyoCfIWY {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
.cid-ukWIZ3cNQW {
  padding-top: 135px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-ukWIZ3cNQW P {
  color: #767676;
}
.cid-ukWJ8brAWJ {
  background: #efefef;
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-ukWJ8brAWJ .image-block {
  margin: auto;
}
.cid-ukWJ8brAWJ figcaption {
  position: relative;
}
.cid-ukWJ8brAWJ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ukWJ8brAWJ .image-block {
    width: 100% !important;
  }
}
.cid-tkJyoCfIWY {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
